<mat-card appearance="outlined">
  <mat-card-header>
    <div class="item-title-group">
      <div>
        <h3>{{ jobAdVm.title }}</h3>
      </div>
      <div class="item-title-group_actions">
        <button mat-stroked-button (click)="onDelete()">Delete</button>
        @if(jobAdVm.canPublish) {
        <button mat-stroked-button (click)="onEdit()">Edit</button>
        } @if(jobAdVm.canPublish) {
        <button mat-stroked-button (click)="onPublish()">Publish</button>
        } @if(jobAdVm.canArchive) {
        <button mat-stroked-button (click)="onArchive()">Archive</button>
        }
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-chip>Status: {{ jobAdVm.statusLabel }}</mat-chip>
    <p>Description: {{ jobAdVm.description }}</p>

    <div class="skills-container">
      <p>Skills:</p>
      <mat-chip-set>
        @for(skill of jobAdVm.skills; track skill) {
        <mat-chip>{{ skill }}</mat-chip>
        }
      </mat-chip-set>
    </div>
  </mat-card-content>
</mat-card>
