.item-title-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;

  &_actions {
    display: flex;
    gap: 5px;
    margin-bottom: 16px;
    flex-wrap: wrap;
  }
}

p {
  margin-top: 16px;
  word-wrap: break-word;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}
